
<div>
    <mat-form-field appearance="standard">

        <ng-content></ng-content>
        <input matInput type="password" [formControl]="passwordControlName" [type]="showPassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordControlName.hasError('required')">Required field</mat-error>
        <mat-error *ngIf="passwordControlName.hasError('passwordMismatch')">Passwords do not match</mat-error>
        <mat-error *ngIf="passwordControlName.hasError('minlength')">Password should be of atleast 8 characters</mat-error>
        
    </mat-form-field>
</div>


